@charset "UTF-8";

/* Miscs */
body.narou-tweaker {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Meiryo,"Hiragino Sans","Hiragino Kaku Gothic ProN",sans-serif !important;
  background-color: var(--background-screen);
}
.narou-tweaker #container{
	background-color: var(--background-front);
	padding: 10px;
}
.narou-tweaker li.chapter-graph-list__item>div>div{
    height:16px !important;
    background:#2299ff !important;
}
.narou-tweaker #datepicker_form{
	padding-left: 10px;
}
.narou-tweaker #access_all {
	padding-top: 0;
	margin: 20px 0px 40px 0px;
}
#novel_detail {
	margin: 20px 0px 40px 0px;
	clear: both;
	overflow: hidden;
}
#novel_detail #novel_data {
	margin-top: .3em;
	clear: both;
	overflow: hidden;
}
.access_per_day.hide,
.access_per_day.hide + br{
	display: none;
}

/* モダンレイアウト適用時の総合ページの表示崩れ対策 */
.narou-tweaker #today_data,
.narou-tweaker #yesterday_data {
	width: 450px;
	margin-bottom: 1em;
}
.narou-tweaker .oneday_access_table table {
    width: 250px;
	margin: auto;
}
.narou-tweaker .oneday_graph table {
    width: 450px;
}
.narou-tweaker #yesterday_data {
	margin-left: 10px;
}
.narou-tweaker .oneday_access_table{
	float: none;
	margin-bottom: .5em;
	margin-left: 5px;
}

/* Header */
.l-header {
	position: relative;
	height: auto;
	min-height: 1px;
	margin-bottom: 15px;
}
.p-header {
	position: relative;
	height: auto;
	min-height: 1px;
	background-color: var(--background-front);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.p-header__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	/*padding: 10px 0;*/
	padding: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 1058px;
}
.p-header__main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.p-header__logo {
	display: block;
	margin-bottom: 0;
	/*margin-right: 20px;*/
}
.p-header__description {
	font-size: 12px;
	/*margin-left: 10px;*/
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;

  text-align: left;
  margin-bottom: auto;
  padding: 10px;
}
.p-header__mainnav {
	margin-left: auto;
}
.p-header__mainnav > ul {
	list-style-type: none;
}
.p-header__mainnav-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.p-header__mainnav-item:not(:last-child) {
	border-right: 1px solid rgba(0,0,0,.1);
}
.p-header__mainnav-list > li {
	list-style-type: none;
}
.p-header__mainnav-item {
	line-height: 1;
	display: block;
	padding: 0 10px;
}

/* Navigation */
.p-mainheader {
	background-color: var(--background-front);
}
.p-mainheader__tab {
	overflow: hidden;
	margin: 0 auto;
	width: 1058px;
}
.p-mainheader__tab-list {
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.p-mainheader__tab-list-item {
	font-size: 16px;
	bottom: 0;
	display: block;
	min-width: 4em;
	text-align: center;
	white-space: nowrap;
	color: #868e96;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 10px !important;
}
.p-mainheader__tab-list-item.is-active {
	position: relative;
}
.p-mainheader__tab-list-item.is-active::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 5px;
	margin: auto;
	content: '';
	border-radius: 2px;
	background-color: var(--kasasagi-blue);
	z-index: 9999;
	bottom: 0;
}

.p-mainheader__tab-list-item > a,
.p-mainheader__tab-list-item > a:visited {
	color: #868e96;
}
.p-mainheader__tab-list-item > a:active,
.p-mainheader__tab-list-item > a:focus,
.p-mainheader__tab-list-item > a:hover {
	color: #a1a8ae;
}
.p-mainheader__tab-list-item.is-active > a {
	font-weight: 600;
	color: #333;
}

/* Body */
.p-body {
	padding: 0px 10px;
}


/* Footer */
.p-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.p-footer__foot {
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
	background-color: var(--kasasagi-blue);
}
.p-footer__foot,
.p-footer__foot a,
.p-footer__foot a:visited {
	color: #fff;
}
.p-footer__foot a:hover,
.p-footer__foot a:focus,
.p-footer__foot a:active {
	color: #cccccc;
}

/* Range Slider */
.slider-outer {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 50%;
	margin: 0 auto;
	position: relative;
}
.slider-outer .nstSlider {
	width: 100%;
	background: #eeeeee;
	border: 2px solid #eeeeee;
}
.slider-outer .nstSlider .bar {
	background: var(--kasasagi-blue);
}
.slider-outer .nstSlider .rightGrip,
.slider-outer .nstSlider .leftGrip {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 21px;
	height: 21px;
	background: var(--kasasagi-blue);
}
.slider-outer .leftLabel {
	position: absolute;
	left: -60px;
	top: 0;
}
.slider-outer .rightLabel {
	position: absolute;
	right: -50px;
	top: 0;
}

/* Date Picker */
.datepicker-outer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.datepicker-outer {
	max-width: 18rem;
	padding: 0 0.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}
.datepicker-outer label {
	font-size: 0.75rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
	color: #a1a8ae;
	border: 1px solid #ECEFF1;
	padding: 0.3rem 0.5rem;
	border-radius: 0.5rem;
}
.datepicker-outer input {
	text-align: center;
	margin: auto;
	display:block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	padding: 0;
	font-size: 1rem;
	color: #607D8B;
	width: 100%;
	margin-top: 0.5rem;
}
.datepicker-outer input:focus {
	outline: none;
}

/* Tables */
.data-table {
  border: 1px solid #cccccc;
  width: 230px;
  font-size: 80%;
}
.data-table tr th {
  background-color: #eeeeee;
  text-align: center;
  font-weight: normal;
  padding: auto 5px;
}
.data-table tr td.key {
  text-align: right;
  width: 30px;
}
.data-table tr td {
  padding: 0px 5px;
  border: 1px solid #cccccc;
}
.data-table tr td.bar {
  text-align: left;
  width: auto;
}
.data-table tr td.value {
  text-align: right;
  width: 70px;
}
.data-table tr td.rate {
	text-align: right;
	width: 70px;
  }
.data-table tr td.bar p.graph {
  background-color: var(--kasasagi-blue);
  color: #ffffff;
  text-shadow: 1px 1px #999999;
  height: 1em;
  line-height: 100%;
  text-align: left;
}

.access-table {
    width: auto;
    font-size: 80%;
}
.access-table {
    width: auto;
    font-size: 80%;
}
.access-table tr.header {
    border: 1px solid #cccccc;
}
.access-table tr th {
    background-color: #eeeeee;
    text-align: center;
    font-weight: normal;
    padding: auto 5px;
}
.access-table tr.highlight td {
    background-color: #eeffff;
    font-weight: bold;
}
.access-table tr td {
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}
table tr td.right {
    text-align: right;
}

/* Specified Table */

.oneday_graph table td.bar.sum .graph {
	background-color: #ffa500;
}

.novel_info,
.novel_statics {
	margin-bottom: 1em;
	margin-left: 10px;
	width: 450px;
	float: left;

}
.novel_info .access-table,
.novel_statics .access-table {
	width: 100%;
}
.novel_info .access-table tr td:nth-child(1),
.novel_statics .access-table tr td:nth-child(1) {
	width: 20%;
	font-weight: bold;
}
#novel_rank_data .rank_list {
	display: flex;
	gap: 10px;
	align-items: flex-start;
	margin-bottom: 1em;
	max-height: 90vh;
    overflow-y: auto;
}
#novel_rank_data .rank_list td.date,
#novel_rank_data .rank_list td.type {
	text-align: center;
}
#novel_rank_data .rank_list td.rank,
#novel_rank_data .rank_list td.point {
	text-align: right;
}


.data-table#chapter-unique {
	margin: auto;
	width: 460px;
}

/* リンク集 */
#external_urls {
	background-color: rgb(238, 238, 238);
	display: flex;
    align-items: center;
	flex-direction: column;
	font-size: 110%;
}
.external_urls-column {
	display: flex;
	gap: 15px;
}
.external_urls-item i {
	margin-right: 3px;
}