/* 全般 */
/* 設定データをエクスポート/インポート */
.option-outer[name="extExportOption"],
.option-outer[name="extImportOption"] {
	#option-export,
	#option-import {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 100%;
	}
	#option-import-input {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}
	#option-export-buttons,
	#option-import-buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 150px;
	}
	#option-import-buttons {
		align-items: flex-start;
	}
	.option-import-warning {
		font-weight: bold;
		color: red;
	}
}


/* 小説ページ */
/* ヘッダのアイテム配置 */
.option-outer[name="novelCustomHeaderData"]{
    #novel_header_icon .draggable_area_outer {
        width: 33%;
    }
}

/* スキン */

/* フォント */
.option-outer[name="novelSkin"], 
.option-outer[name="novelFont"]{
	#skin-option {
		display: flex;
		flex-flow: column;
	}
	#skin-selection,
	#font-family-selection {
		display: flex;
		align-items: center;
		flex-flow: row;
		margin-bottom: 10px;
	}
	#skin-option--buttons,
	#font-family-option--buttons {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		gap: 5px;
	}
	#skin-option--options,
	#font-family-option--options {
		display: flex;
		flex-flow: row;
	}
	#skin-option--field,
	#font-family-option--field {
		width: 100%;
	}
	.skin-option--preview {
		margin-top: 20px;
	}
	#skin-option--editting,
	#font-family-option--editting {
		font-size: 120%;
		font-weight: bold;
		margin-left: 0.8em;
		color: #555;
		text-overflow: ellipsis;
	}
	.skin-color-field .clr-field input {
		margin: .1em;
		box-sizing: border-box;
		width: 100%;
	}
	.skin-color-field .clr-field button {
		height: 20px;
		width: 40px;
		margin-right: 5px;
		border-radius: 5px;
	}
	.skin-preview {
		padding: 1em;
	}
	.skin-preview #subtitle-dummy div {
		padding: 10px 10px 2px 5px;
		font-size: 95%;
	}
	.skin-preview #subtitle-dummy #link,
	.skin-preview #subtitle-dummy #link-visited  {
		cursor: pointer;
	}
	#skin-additional-style {
		width: 100%;
		height: 200px;
		margin: 0;
		box-sizing: border-box;
	}
	#skin-additional-style + pre{
		margin: 0 !important;
	}
	.export-option-text,
	#skin-author {
		flex-shrink: 0;
		width: 100%;
	}
	/* Font */
	.font-button {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.font-button-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		border: 1px solid #ddd;
		background: #fff;
		margin: .5em 1em;
		cursor: pointer;
		font-size: 130%;
		text-wrap: nowrap;
		overflow: hidden;
	}
	.font-button-box:hover {
		background: #fafafa;
	}
	.font-button.active .font-button-box{
		border: 1px solid var(--kasasagi-blue);
	}
	.font-option-field {
		width: 100%;
		height: 200px;
		margin: 0;
		box-sizing: border-box;
	}
}

.option-outer[name="novelFontSize"],
.option-outer[name="novelFontLineHeight"],
.option-outer[name="novelFontWidth"] {
	.font-number-change-button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #ddd;
		background: #fff;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.font-number-change-button:hover{
		background: #fafafa;
	}
	#font-size,
	#line-height,
	#page-width {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 1em;
	}
	#font-size-input,
	#line-height-input,
	#page-width-input {
		font-size: 110%;
		border: 1px solid #ddd;
		text-align: center;
		height: 30px;
		padding: 0;
	}
	#font-css + pre {
		margin: 0;
	}
}

/* スキンのインポート・エクスポート */
.option-outer[name="novelSkinImport"],
.option-outer[name="novelSkinExport"] {
	/* Skin Export, Import */
	#skin-export,
	#skin-import {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 100%;
	}
	#skin-import-input {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}
	#skin-export-buttons,
	#skin-import-buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 150px;
	}
	#skin-import-buttons {
		align-items: flex-start;
	}
	.skin-import-warning {
		font-weight: bold;
		color: red;
	}
}


/* 置換 */
/* Replace Patterns (Correction) */
.option-outer[name="correctionReplacePattern"]{
    .correction-replace--pattern-box,
    #correction-replace--pattern-box-addition {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: .5em;
        margin: .5em 0;
        background: #eee;
        border-radius: .5em;
    }
    #correction-replace--patterns {
        min-width: 500px;
    }
    #correction-replace--pattern-box-addition {
        justify-content: center;
    }
    #correction-replace--pattern-box-addition:hover {
        transition: background-color .3s ease;
        background-color:#ddd;
        cursor: pointer;
    }

    .correction-replace--fields {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .correction-replace--fields span {
        margin: 0 .3em;
        font-size: 16px;
    }
    .correction-replace--move-buttons {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 0 .3em;
    }
    .correction-replace--move-buttons .correction-replace--move-back {
        margin-top: -50%;
    }
    .correction-replace--icons {
        transition: color .3s ease;
        color:#bbb;
        font-size: 16px;
        margin: 0 .2em;
        cursor: pointer;
    }
    .correction-replace--icons:hover {
        color:#999;
    }
    .correction-replace--icons.enabled {
        color:rgb(51, 154, 244);
    }
    .correction-replace--icons.enabled:hover {
        color:rgb(0, 58, 133);
    }
    .correction-replace--active-button {
        margin-left: .5em;
        margin-right: .3em;
    }
    .correction-replace--remove-button {
        margin-left: auto;
        margin-right: .5em;
    }
}

