* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    overflow-x: hidden;
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
html::-webkit-scrollbar {
    display: none; /*chrome/safari*/
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    font-size: 16px;
}
#js-failed {
    color: red;
    font-weight: bold;
    margin: .3em;
    text-align: center;
    opacity: 0;
    animation: late-open 0s ease-in 1s forwards;
}
@media not screen and (width: 400px) {
	/* Excludes Edge */
	:root {
		max-width: none;
		min-width: 400px;
	}
}

@keyframes late-open {
    to {
      opacity: 1;
    }
}

/* hide events */
.button-hide--hidden, .option-hide--hidden {
    display: none !important;
}
.option-hide--advanced {
    display: none !important;
}
.option-hide--experimental,
.option-hide--debug {
    .contents-option-content {
        pointer-events: none;
        filter: grayscale(1);
    }

    /* toggle */
    .contents-option-content label.toggle::before{
        background-color: #666;
    }
    .contents-option-content label.toggle::after{
        background-color: #999;
    }
    /* field / dropdown */
    .contents-option-content input[type="text"],
    .contents-option-content input[type="number"],
    .contents-option-content textarea,
    .contents-option-content select {
        background-color: #ddd;
    }
}

.option--debug-message,
.option--experimental-message {
    color: red;
    font-weight: bold;
    white-space: break-spaces;
    clear: both;
    border: 1px solid #999;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    margin-bottom: 10px;
}
.option--debug-message a,
.option--experimental-message a {
    color: inherit;
}
.option--debug-message a:hover,
.option--experimental-message a:hover {
    text-decoration: underline;
}

/* query events */
.search-focused .contents-item--heading {
    text-decoration: underline wavy;
    color: rgb(27, 77, 243);
}

/* Text Field */
.textfield {
	display: flex;
	flex-flow: column;
	font-size: inherit;
    max-width: 100%;
}
.textfield label {
	font-size: 90%;
}
input[type="text"],
input[type="number"] {
	padding: .3em;
	padding-left: .5em;
	font-size: inherit;
	margin: .1em;
    max-width: 100%;
}

/* Color Field */
.clr-field {
	display: block !important;
}
.clr-field input {
	margin: .1em !important;
}
.clr-field button {
    height: 20px!important;
	width: 40px!important;
	margin-right: 5px!important;
    border-radius: 5px!important;
} 

/* Textarea */
.textarea-outer {
	flex-shrink: 0;
	width: 100%;
}

.textarea {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    resize: vertical;
    font-family: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

/* Syntax Highlight */
.syntax-highlight-wrap {
    position: relative;
    width: 100%;
}
.syntax-highlight-wrap textarea.syntax-highlight {
    -webkit-appearance: none;
    border: 1px solid #aaa;
    caret-color: #000;
    color: transparent;
    font-family: "BizinGothicDiscord", monospace;
    line-height: 120%;
    font-size: 100%;
}
.syntax-highlight-wrap textarea.syntax-highlight::selection {
    background: rgba(77, 144, 254, 0.8);
    color: transparent;
}
.syntax-highlight-wrap pre {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    padding: 5px !important;
    border: 1px solid transparent;
    pointer-events: none;
    overflow-y: auto;
    font-family: "BizinGothicDiscord", monospace;
    
}
.syntax-highlight-wrap pre::-webkit-scrollbar {
    opacity: 0;
}
.syntax-highlight-wrap pre code {
    margin-top: 10px;
    background: transparent;
    height: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 120%;
    user-select: none;
    font-family: "BizinGothicDiscord", monospace;
}
.syntax-highlight-wrap pre code.resizing {
    height: unset;
}

/* Button */
.button, #import-options-label {
    color: rgb(255, 255, 255);
    line-height: 1.7;
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    background-color: rgb(27, 142, 243);
    appearance: none;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 25px;
    outline: 0px;
    padding: .3em 1em !important;
}
.button:active, .button:focus, .button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 154, 244);
}
.button:disabled {
    background-color: gray;
}
input[type=file] {
	display: none;
}

/* d&d object */
/* Draggable (Header) */
.contents-wide:has(.draggable_area_container){
    flex-direction: column;

    .contents-option{
        flex-direction: column;
    }

    .contents-option-head {
        min-width: 0;
        max-width: 100%;
        height: auto;
    }

    .contents-item--buttons {
        display: none;
    }
    .contents-item--buttons-vertical {
        display: flex;
    }
}

.draggable_area_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    gap: 5px;
    min-width: 0;
    flex-wrap: wrap;
    margin-top: 10px;

    * {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .draggable_area_outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5px;
        border: 2px solid #aaa4;
        border-radius: 10px;
        flex: 1;
        min-width: 0;
        max-width: 300px;
        overflow-x: hidden;
        flex-basis: 120px;
    }

    .draggable_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        min-width: 0;
        min-height: 110px;
        gap: .2em;
        overflow-x: hidden;
    }
    .draggable_area_outer:has(.draggable_area#disabled) {
        background-color: #fafafa;
    }
    .icon-element {
        display: flex;
        flex-flow: row;
        align-items: center;
        border: 1px solid #aaa;
        padding: .4em;
        width: 100%;
        cursor: pointer;
    }
    .icon-element i {
        text-align: center;
        width: 15px !important;
        flex-shrink: 0;
    }
    .icon-element .title {
        padding-left: .5em;
        font-size: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }
}

/* Sidebar */
#sidebar {
    position: sticky;
    width: 200px;
    height: 100vh;
    top: 0;
    background: #f2f1f0;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 16px;
    z-index: 1;
}
#sidebar.hide {
    width: 0px;
}
#sidebar-inner {
    height: 100%;
    width: 100%;
    contain: paint;
}
.brand-icon {
    margin: 16px 0 20px 26px;
}
#sidebar-middle {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#sidebar-items {

}
.sidebar-item {
    margin: 15px 0 15px 0;
    padding: 5px 0;
    padding-left: 15px; 
    border-left: 5px solid transparent;
}
.sidebar-separator {
    margin: 0 15px;
    border-top: 1px solid #ccc;
}
.sidebar-item.selected {
    font-weight: bold; 
    border-left: 5px solid var(--kasasagi-blue);
}
.sidebar-item a {
    color: #000;
    text-decoration: none;
}
.sidebar-item a:hover {
    color: var(--kasasagi-blue);
}
.sidebar-item .sidebar-item--title {
    margin-left: .3em;
}

#sidebar-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 10px;
    width: inherit;
}
#sidebar-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 10px;
}
.sidebar-icon {
    cursor: pointer;
}
.sidebar-icon:hover {
    color: var(--kasasagi-blue);
}
#sidebar-icon--hide {
    font-size: 110%;
    margin: 0 15px;
}
#sidebar-icon--help {
    font-size: 110%;
    margin-left: 15px;
}
#sidebar-icon--help a {
    color: inherit;
}

#sidebar-toolbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: inherit;
}
#sidebar-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 15px 15px 10px;
}
#sidebar-search-box {
    max-width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e6e6e6;
    border-bottom: 3px solid #ccc;
}
#sidebar-search-box:focus-visible {
    outline: none;
    background: #e0e0e0;
}

#sidebar-version {
    color: #666;
    margin-left: 15px;
}
#sidebar-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    background: #eee;
    border: 1px solid #fafafa;
    font-size: 130%;
    border-radius: .5em;
    opacity: 0;
    transition: all .2s ease-in;
    visibility: hidden;
}
#sidebar.hide #sidebar-open {
    opacity: 0.8;
    visibility: visible;
    transition: all .2s ease-in;
    cursor: pointer;
}
#sidebar-open:hover{
    background: #ddd;
    color: var(--kasasagi-blue);
    transition: all .2s ease-in;
}

/* Contents */
#contents {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header */
#header {
    width: 100%;
}

#header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--kasasagi-blue);
    min-height: 50px;
    height: 10vh;
    padding-left: 30px;
    color: #fff;
}
.header-menu-target {
    display: none;
}
.header-menu-target.selected {
    display: block;
}
#header-title--heading{
    font-weight: bold;
    font-size: 150%;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;

}
#header-title--heading .title {
    margin-left: 10px;
}
#header-title--description {
    margin-right: 10px;
    font-size: 90%;
    text-align: right;
    opacity: 0.8;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
}
.header-title--description-text {
    display: block;
}
.header-title--icons {
    display: none;
}
.header-title--icons--icon {
    font-size: 130%;
    padding-right: 20px;
}
.header-title--icons--icon a:link {
    color: inherit;
}
.header-title--icons--icon a:hover,
.header-title--icons--icon a:focus {
    color: #ccc;
}

/* Header Menu */
#header-menu {
    height: 50px;
    width: 100%;
}
#header-menu-left-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-bottom: 1px solid #ddd;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
#header-menu-left-items::-webkit-scrollbar {
    display: none; /*chrome/safari*/
}
.header-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5px 12px 5px;
    min-width: 130px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.header-menu-item.selected {
    background: #fafafa;
    padding-bottom: 7px;
    border-bottom: 5px solid #000;
    color: inherit !important;
    font-weight: bold;
}
.header-menu-item:hover {
    background: #fafafa;
    color: var(--kasasagi-blue);
}

/* Contents */
.contents-container {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
}
.contents-wide {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #eee;
}
.contents-wide:has(.contents-wide-column) > .contents-option{
    display: none;
}
.contents-wide-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    flex: 2;
}
.contents-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
}
.contents-wide-column .contents-option {
    border-bottom: 1px solid #eee;
    padding: 10px 0 20px 0;
}
.contents-wide-column .contents-option:nth-last-child(1) {
    border-bottom: none !important;
}
.contents-wide-column .contents-option:nth-child(1) {
    padding-top: 0 !important;
}
.contents-option-wide {
    display: flex;
    justify-content: center;
    
}
.contents-option-head {
    padding-right: 20px;
    max-width: 200px;
    min-width: 100px;
    flex: 1;
}
.contents-option-content {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 20px;
    min-height: 50px;
    min-width: 0;
}
.contents-item--heading {
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 5px;
}
.contents-item--description{
    display: flex;
    flex-direction: column;
    font-size: 90%;
    gap: .5em;
}
.contents-item--description-item {
    color: #666;
}
.contents-item--description-item.description-small {
    font-size: 80%;
}
.contents-item--description-item.description-attention {
    color: red;
    font-weight: bold;
    font-size: 80%;
}

/* Buttons */
.contents-item--buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    font-size: 80%;
    color: #666;
}
.contents-item--buttons-vertical {
    margin: 0;
    float: right;
    display: none;
}
.contents-item--button-icon {
    cursor: pointer;
}
.contents-item--button-icon:hover{
    color: var(--kasasagi-blue);
}
.contents-item--button-separator {
    border-right: 1px solid #eee;
}
.contents-item--button-favorite--on {
    display: none;
}
.contents-item--button-favorite.selected .contents-item--button-favorite--on {
    display: block;
}
.contents-item--button-favorite.selected .contents-item--button-favorite--off {
    display: none;
}

/* Footer */
#footer {
    width: 100%;
}
#footer-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: auto;
    text-align:center;
    color: #999;
    font-size: 12px;
}

/* popup */
@media screen and (max-width: 600px) {
    .contents-container {
        padding: 10px 15px;
    }
    /* ヘッダの説明文  */
    #header-title--description {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .header-title--description-text {
            display: none;
        }
        .header-title--icons {
            display: flex;
        }
    }

    /* コンテンツ */
    .contents-wide:has(.contents-wide-column) {
        flex-direction: column;
        border-bottom: none;
        border-left: 5px solid #eee;
        padding-left: 5px;

        > .contents-option-head {
            .contents-item--heading {
                text-align: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
            }

        }
    }   
    .contents-wide:not(:has(.contents-wide-column)){
        flex-direction: column;
    }

    .contents-option {
        flex-direction: column;
    }
    .contents-option-head {
        max-width: unset;
        margin-right: 0;
    }
    .contents-option-content {
        padding-right: 0;
    }

    /* Buttons */
    .contents-item--buttons {
        display: none;
    }
    .contents-item--buttons-vertical {
        display: flex;
    }

    /* D&Dオブジェクト */
    .draggable_area_container {
        .draggable_area_outer {
            margin: 0;
            padding: 5px 2px;
            gap: .2em;
            max-width: unset;
        }
        .draggable_area {
            width: 100%;
        }
        .icon-element {
            margin: 0;
            padding: 2px 3px;
        }
    }

    #container {
        flex-direction: column-reverse;
        font-size: 14px;
    }

    /* サイドバー */
    #sidebar {
        width: 100vw;
        height: 50px;
        top: unset;
        bottom: 0;
        transition: none;
    }

    #sidebar-header {
        display: none;
    }

    #sidebar-middle {
        flex-direction: row;
        top: 0;
        width: 100%;
        height: 100%;

        #sidebar-search {
            display: none;
        }

        #sidebar-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .sidebar-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            padding-bottom: 5px;
            margin: 0;
            font-size: 120%;
            height: 100%;
            width: 100%;
            border: none;
        }
        .sidebar-item.selected {
            padding-bottom: 0;
            border-bottom: 5px solid var(--kasasagi-blue);
        }
        .sidebar-item:hover{
            background-color: #fafafa;
        }
        .sidebar-item:not(:last-child) {
            border-right: 1px solid #ddd;
        }
        .sidebar-item--hide-on-popup {
            display: none !important;
        }
        .sidebar-item a{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .sidebar-item--title {
            display: none;
        }

    }

    #sidebar-bottom {
        display: none;
    }
}