* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 400px;
    height: 600px;
    
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
html::-webkit-scrollbar {
    display: none; /*chrome/safari*/
}

body {
    width: 400px;
    height: 600px;
}

#option-popup {
    max-height: 100vh !important;
    max-width: 100vw !important;
    position: fixed;
    top: 0;
}