#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#intro img {
    max-width: 100%;
    width: 700px;
    height:auto;
}
#intro .title {
    font-weight: bold;
    font-size: 200%;
    margin: 10px;
    text-align: center;
}
#intro .version,
#intro .version a {
    color: #999;
    text-decoration: none;
}
#intro .version a:hover {
    color: #bbb;
}

.description p {
    padding-bottom: 5px;
    text-indent: 1em;
}
.description svg {
    padding-left: 5px;
}

.version p {
    padding-bottom: 5px;
}
.version ul {
    margin-bottom: .2em;
}
.version ul li {
    list-style: none;
    color: #666;
    margin-bottom: .1em;
}
.version ul li:before {
    content: "-";
    font-weight: bold;
    margin: 0 .3em;
}
.version b {
    font-size: 110%;
    padding-bottom: 5px;
}

#downloads-outer {
    display: flex;
    justify-content: center;
}
#downloads {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 4em;
}
.download-item {
    flex: 1;
    min-width: 0;
}
.download-item > a {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
}
.download-item > a:hover{
    color: #999;
}
.download-item--icon {
    font-size: 300%;
}
.download-item--title {
    font-size: 120%;
    font-weight: bold;
}
.release-date {
    color: #666;
}
.release-icons {
    display: flex;
    gap: 5px;
    color: #666;
}
.release-icons i {
    margin-left: 3px;
}
.current-version {
    background: orangered;
    border-radius: 3px;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px 3px;
    font-size: 90%;
}

@media screen and (max-width: 600px) {
    .contents-container[name="version"] {
        .contents-option-head {
            display: flex;
            flex-direction: row;
            margin: 0;
            margin-bottom: 5px;
        }
        .contents-item--heading {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .current-version {
            margin-right: 5px;
        }
        .contents-item--description {
            flex-direction: row;
            align-items: center;
            margin-left: .5em;
            font-size: 70%;
        }
    }
}