/* 目次 */
.narou-tweaker--custom-style .p-novel__summary .more {
	color: var(--color-custom-link); /* あらすじの「続きを読む」ボタンの色を変更 */
}

/* 閲覧履歴表示ボックス */
.novelview_history-box {
	margin-bottom: 20px;
	background: var(--color-nt-historybox-bg);
	color: var(--color-nt-historybox-text);
	padding: 10px;
}
.novelview_history-box a:link {
    color: var(--color-nt-historybox-link)
}
.novelview_history-box a:visited {
    color: var(--color-nt-historybox-link-visited)
}
.novelview_history-box a:hover {
    color: var(--color-nt-historybox-link-hover)
}
.novelview_history-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
}
.novelview_history-item > i {
	width: 16px;
	margin-right: 5px;
	text-align: center;
}
.subtitle:has(.history_now) a{
	display: inline-block;
}
.history_now {
    overflow: hidden;
    width: 20px;
    height: 15px;
	font-size: 12px;
    vertical-align: top;
	text-align: center;
    display: inline-block;
	margin: 5px 0 0 0;
}