/* correction */
.p-novel__body p.correction-original{
	display: none;
}


/* Attention Mark */
.nt-novel-attention-label {
	padding: 0 10px;
	background: #eaeaea;
	border-radius: 20px;
	margin: 0 3px;
}
/*.narou-tweaker-vertical .nt-novel-attention-label {
	padding: 10px 0;
	margin: 3px 0;
}*/
.nt-novel-attention-label a {
	color: inherit !important;
}
.nt-novel-attention-label i {
	margin-right: 5px;
}
/*.narou-tweaker-vertical .nt-novel-attention-label > i {
	margin-right: 0;
	margin-bottom: .2em;
}*/
.nt-novel-attention-label:first-child {
	margin-left: 0;
}
.nt-novel-attention-label.nt-novel-attention-label--rating-r18 {
	background-color: #f00;
	color: #fff;
	font-weight: bold;
}
.nt-novel-attention-label.nt-novel-attention-label--rating-r15 {
	background: #B200B2;
	color: #fff;
	font-weight: bold;
}
.nt-novel-attention-label.nt-novel-attention-label--official {

}



/* Author Skin */
#novel-option--import-author-skin-button {
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    appearance: none;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-radius: 0.5em;
    padding: .3em 1em;
}
#novel-option--import-author-skin-button:active,
#novel-option--import-author-skin-button:focus,
#novel-option--import-author-skin-button:hover {
    background-color: rgb(250, 250, 250);
}
.novel-option--import-author-skin--notice-warn {
	font-weight: bold;
	color: red;
}
.novel-option--import-author-skin--notice-info {
	font-weight: bold;
}
#author-skin-warning {
	margin: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	filter: invert(100%) grayscale(100%) contrast(100);
}