/* Novel Vertical */
.narou-tweaker-vertical #novel_vertical_wrapper {
    width: 100vw !important;
    height: 100vh;
    overflow-x: hidden;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc((100vw - 600px) / 2);
    box-sizing: border-box;
}

.narou-tweaker-vertical #novel_vertical_items {
	display: flex;
	flex-direction: column;
    position: absolute;
    right: calc((100vw - 600px) / 2);
    margin: 0;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-font-feature-settings: 'pkna';
    font-feature-settings: 'pkna';
}

.narou-tweaker-vertical .contents1:not(:has(.novel_title)) {
	max-width: 730px;
	margin: auto;
	margin-top: 30px;
}

.narou-tweaker-vertical #novel_vertical_items .p-novel__body {
    width: unset !important;
    max-width: unset !important;
    margin: 0;
	padding-right: 100px;
}

.narou-tweaker-vertical .c-pager .c-pager__item{
    padding: 0;
    border: none;
}
.narou-tweaker-vertical .c-pager .c-pager__item:not(:last-child){
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-custom-pager-border-disabled);
}
.narou-tweaker-vertical .c-pager .c-pager__item:not(:first-child){
    padding-top: 10px;
}

.narou-tweaker-vertical .contents1{
	width: unset;
	max-width: unset;
}
.narou-tweaker.narou-tweaker-vertical .novel-titles#ep-0,
.narou-tweaker.narou-tweaker-vertical .novel-titles#ep-1 {
	margin-top: 0;
	margin-bottom: 0;
}
.narou-tweaker-vertical .p-novel__number {
	-webkit-text-combine: horizontal;
  	-ms-text-combine-horizontal: all;
  	text-combine-upright: all;
}
.narou-tweaker-vertical .p-novel__text--preface {
    margin: 0px 30px 0px 30px;
    padding: 20px 20px 20px 30px;
    width: unset;
	max-width: unset;
    border-bottom: none;
	border-left: 3px double #999999;
}
.narou-tweaker-vertical .p-novel__text--afterword {
    margin: 0px 40px 0px 30px;
    padding: 20px 20px 20px 30px;
    width: unset;
	max-width: unset;
    border-top: none;
	border-right: 3px double #999999;
}
.narou-tweaker-vertical .p-novel__body {
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
.narou-tweaker-vertical .p-novel__body::-webkit-scrollbar {
    display: none; /*chrome/safari*/
}



.narou-tweaker-vertical .text-combine{
	-webkit-text-combine: horizontal;
  	-ms-text-combine-horizontal: all;
  	text-combine-upright: all;
}
.narou-tweaker-vertical .text-sideways {
	text-orientation: sideways;
}