html{
    scroll-behavior: smooth;
}
html:has(.narou-tweaker-vertical){
    scroll-behavior: unset !important;
    overflow-x: hidden;
}
html:has(.narou-tweaker-cursor-hide) {
    cursor: none !important;
    pointer-events: none !important;
}

/* color */
:root {
    --color-bg--sub: #eee;
    --color-ui-button-blue-bg--hover: #339af4;
}
*[class^="js-customlayout"] {
    --color-custom-border: var(--color-ui-border);
	--color-custom-text--sub: var(--color-text--sub);
    --color-custom-text--danger: var(--color-text--danger);
    /*--color-custom-bg--sub: var(--color-bg--sub);*/
	/*--color-custom-link-disabled: var(--color-link-disabled);*/
	--color-custom-bg--sub: var(--color-custom-pager-border-disabled);
	--color-custom-link-disabled: var(--color-custom-pager-text-disabled);

    /* 小説ページ */
    --color-custom-novel-header-border: var(--color-ui-border);
    --color-custom-novel-border: var(--color-ui-border--emphasis);
    --color-custom-novel-number-text: var(--color-text--sub);

    /* 注意ボックス */
    --color-custom-attention-border: var(--color-custom-border);
    --color-custom-attention-bg: var(--color-bg-neverchange);
    --color-custom-attention-text: var(--color-text);
    --color-custom-attention-text--danger: var(--color-custom-text--danger);

    /* 閲覧履歴ボックス*/
    --color-nt-historybox-bg: var(--color-custom-bg--sub);
    --color-nt-historybox-text: var(--color-custom-text);
    --color-nt-historybox-link: var(--color-custom-link);
    --color-nt-historybox-link-visited: var(--color-custom-link-visited);
    --color-nt-historybox-link-hover: var(--color-custom-link-hover);

	/* ヘッダ */
	--color-custom-header-item: var(--color-custom-text--sub);
	--color-custom-header-item--visited: var(--color-custom-link-visited);
	--color-custom-header-item--hover: var(--color-custom-text);
	--color-custom-header-item--disabled: var(--color-custom-link-disabled);

    /* 作品情報ページ */
	--color-custom-novelinfo-datatable-header-text: var(--color-custom-text);
	--color-custom-novelinfo-datatable-header-bg: var(--color-custom-bg--sub);
	--color-custom-novelinfo-datatable-border: var(--color-custom-border);
	--color-custom-novelinfo-table-border: #ddd;
	--color-custom-novelinfo-header-border: var(--color-custom-novel-header-border);
    --color-custom-novelinfo-noveltype-text: #fafafa;
    --color-custom-novelinfo-noveltype-bg: #333;
    --color-custom-novelinfo-noveltype-border: #666;

    /* 感想・レビュー */
    --color-custom-novelcom-box-bg: #f6f6f6;
    --color-custom-novelcom-box-border: #ddd;
    --color-custom-novelcom-box-text: var(--color-text);
    --color-custom-novelcom-box-bg--res: #FFFFEE;
    --color-custom-novelcom-box-border--res: #ccc;
    --color-custom-novelcom-box-text--res: var(--color-text);
    --color-custom-novelcom-box-bg--review: #FFFFEE;
    --color-custom-novelcom-box-border--review:#AAAA33;
    --color-custom-novelcom-box-text--review: var(--color-text);
    --color-custom-novelcom-episode-bg: #adb6bf;
    --color-custom-novelcom-episode-text: #ffffff;
    --color-custom-novelcom-form-bg: #FEFEFE;
    --color-custom-novelcom-form-border: #ddd;
    --color-custom-novelcom-form-text: var(--color-text);
    --color-custom-novelcom-warning-bg: var(--color-bg-neverchange);

    /* pdf */
    --color-custom-pdf-bg--created: #e6fcf5;
    --color-custom-pdf-text--created: #000;

    /* 誤字報告 */
    --color-custom-novelreport-highlight: #eee;
    --color-custom-novelreport-box-bg: #eee;
    --color-custom-novelreport-box-border: #ccc;
}


/* 色設定初期化 */
.narou-tweaker--novelcom-page[class^="js-customlayout"],
.narou-tweaker--novelcom-page *[class^="js-customlayout"],
.narou-tweaker--novel-page--series[class^="js-customlayout"],
.narou-tweaker--novel-page--series *[class^="js-customlayout"] {
    --00-text: #444;
    --01-link: #03c;
    --02-link-visited: #857;
    --03-link-hover: #393;
    --04-bg: #fff;
    --color-custom-announce-border: var(--01-link);
    --color-custom-body-bg: var(--04-bg);
    --color-custom-epilist-underline: transparent;
    --color-custom-epilist-underline-favorited: var(--00-text);
    --color-custom-epilist-underline-hover: #9df;
    --color-custom-link: var(--01-link);
    --color-custom-link-hover: var(--03-link-hover);
    --color-custom-link-visited: var(--02-link-visited);
    --color-custom-pager-border-disabled: #44444433;
    --color-custom-pager-text-disabled: #44444480;
    --color-custom-text: var(--00-text);
    --color-custom-bkmfix-box: #e7f5ff;
    --color-custom-bkmfix-text: #1971c2;
    --color-custom-favep-empty: #ced4da;
}
:root:has(.narou-tweaker--novelcom-page),
:root:has(.narou-tweaker--novel-page--series) {
    --color-site: #18b7cd;
    --color-site-base: #fff;
    --color-site-text: #444;
    --color-site-link: #03c;
    --color-site-link--visited: #857;
    --color-site-link--hover: #393;
    --color-text: #444;
    --color-text--sub: #999;
    --color-text--danger: #d00;
    --color-text--error: #f03e3e;
    --color-bg: #fff;
    --color-bg-neverchange: #fff;
    --color-bg-announce: #fdfdfd;
    --color-bg-menu-sp: #f6f6f6;
    --color-bg-adjust-sp: #fcfcfa;
    --color-bg-adjust-sp-close: #ccc;
    --color-bg-adjust-sp-text: #fff;
    --color-link: #03c;
    --color-link--visited: #857;
    --color-link--hover: #393;
    --color-link-globalnav: #666;
    --color-link-globalnav-bg--hover: #fafafa;
    --color-link-login: #d00;
    --color-link-disabled: #ccc;
    --color-ui-accent: #18b7cd;
    --color-ui-border: #ccc;
    --color-ui-border--emphasis: #999;
    --color-ui-bg: #fff;
    --color-ui-form-border: rgba(133, 213, 225, 0.5);
    --color-ui-form-bg: #dee2e6;
    --color-ui-form-bg--site: #e3eef1;
    --color-ui-form-bg--input: #fff;
    --color-ui-form-bg--disable: #e9ecef;
    --color-ui-form-check-border: #868e96;
    --color-ui-form-checked: #228be6;
    --color-ui-button-yellow-bg: #fffcde;
    --color-ui-button-yellow-border: #fcd27e;
    --color-ui-button-aqua-bg: #ddeefa;
    --color-ui-button-aqua-border: #aaccdc;
    --color-ui-button-palegray-bg: #f0f0f0;
    --color-ui-button-palegray-border: #000;
    --color-ui-button-beige-bg: #f6f6ee;
    --color-ui-button-beige-border: #bbc;
    --color-ui-button-gray-bg: #ddd;
    --color-ui-button-gray-border: #bbc;
    --color-ui-button-blue-bg: #1b8ef3;
    --color-ui-button-blue-border: #1b8ef3;
    --color-ui-button-blue-text: #fff;
    --color-ui-button-outline-bg: #fff;
    --color-ui-button-outline-border: #dee2e6;
    --color-ui-button-outline-text: #1b8ef3;
    --color-ui-button-submit-text-sp: #666;
    --color-ui-button-submit-border-sp: #aba;
    --color-ui-button-submit-bg-from-sp: #fff;
    --color-ui-button-submit-bg-to-sp: #cde;
    --color-good-empty: #dee2e6;
    --color-good-active: #15aabf;
    --color-good-border: #dee2e6;
    --color-good-bg: #fff;
    --color-good-intro-box-border: #f1f3f5;
    --color-good-intro-box-bg: #f8f9fa;
    --color-bookmark-add-bg: #fffaf4;
    --color-bookmark-add-bg--hover: #fff7ee;
    --color-bookmark-add-border: #f4c28d;
    --color-bookmark-add-border--hover: #ed9f4a;
    --color-bookmark-add-text: #efac6a;
    --color-bookmark-add-text--hover: #e57c13;
    --color-bookmark-change-bg: #f5f7ff;
    --color-bookmark-change-bg--hover: #edf0ff;
    --color-bookmark-change-border: #8e9ff5;
    --color-bookmark-change-border--hover: #4a65ed;
    --color-bookmark-change-text: #6a80ef;
    --color-bookmark-change-text--hover: #1236e5;
    --color-bookmark-disabled-bg: #fafafa;
    --color-bookmark-disabled-border: #ccc;
    --color-bookmark-disabled-text: #aaa;
    --color-favep-empty: #ced4da;
    --color-favep-active: #f59f00;
    --color-favep-border: #dee2e6;
    --color-jumplink-bg: #cdd;
    --color-jumplink-text: #666;
    --color-jumplink-text-shadow: #fff;
    --color-adjust-layout-bg-close: #f3f3f3;
    --color-adjust-layout-bg-console-display: #f3f3f3;
    --color-adjust-layout-bg-button-hover: #eff;
    --color-adjust-layout-bg-title: #eef3ff;
    --color-under-nav-border: #999;
    --color-recommend-border: #999;
    --color-recommend-bg: #eee;
    --color-recommend-item-bg: #fff;
    --color-recommend-title-bg: #ffe;
    --color-recommend-title-visited: #999;
    --color-recommend-title-hover: #000;
    --color-recommend-user-text: #00a069;
    --color-recommend-user-bg: #cfe;
    --color-rankingtag-inline-bg: #f8f9fa;
    --color-rankingtag-fieldset-border: #333;
    --color-novelpoint-form-border: #f1f3f5;
    --color-novelpoint-form-bg: #f8f9fa;
    --color-toast-text: #fff;
    --color-toast-bg--addend: rgba(24, 183, 205, 0.8);
    --color-toast-bg--error: rgba(240, 70, 70, 0.8);
    --color-modal-text-message: #3aa;
    --color-preview-announce-bg: #eee;
    --color-preview-announce-border: #333;
    --color-preview-noinput-text: #999;
    --color-preview-noinput-border: #ccc;
    --color-menu-text-sp: #666;
    --color-caution-spacer-1: #666;
    --color-caution-spacer-2: #999;
    --color-caution-spacer-3: #bbb;
    --color-caution-spacer-4: #ddd;
    --color-impression-toggle-sp: #fcfcfc;
    --color-favep-title: #0d6572;
    --color-favep-note: #868e96;
    --color-favep-ep-bg: #f1f3f5;
}