/* Option Menu */
#novel-option-background {
	display: none;
    position: fixed;
    top: 0;
	width: 100vw;
	height: 100vh;
    z-index: 49;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}
#novel-option-background.show {
	display: block;
}
#novel-option {
    top: 0;
    right: calc(-300px - env(safe-area-inset-left) - 50px);
    height: 100%;
    position: fixed;
    width: calc(300px + env(safe-area-inset-left));
    background: var(--narou-tweaker--color-ui-modal--bg);
    z-index: 50;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,.7));
    transition: .3s;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 14px;
	text-align: left;
	color: var(--narou-tweaker--color-ui-modal--text);
}
#novel-option.show {
    transform: translateX(calc(-300px - env(safe-area-inset-left) - 50px));
}
#novel-option--header {
    height: 70px;
    background: var(--narou-tweaker--color-ui-modal--bg-sub);
}

#novel-option--header ul {
	height: 100%;
	padding: 0;
	margin: 0;
	margin-left: constant(safe-area-inset-left);
	margin-left: env(safe-area-inset-left);
    padding-left: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#novel-option--header ul li {
	list-style-type: none;
	padding: 0 .3em;
}
#novel-option--header ul li button {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	font-size: .9em;
    background: 0 0;
    border: none;
    -webkit-appearance: button;
    cursor: pointer;
}

#novel-option--header ul li button span {
    display: inline-block;
	height: 100%;
	line-height: 60px;
	border-radius: 0;
	border: none;
	border-top: 4px solid transparent;
	box-sizing: border-box;
	padding: 0 .5em;
}
#novel-option--header ul li.active button span {
	border-top-color: var(--narou-tweaker--color-ui-modal--tab-selected) !important;
}
#novel-option--header ul li button span:hover {
	border-top-color: var(--narou-tweaker--color-ui-modal--tab-hover);
}
#novel-option--contents {
	height: 100%;
	overflow-y: scroll;
	padding: .5em;
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
#novel-option--contents::-webkit-scrollbar{
	display: none; /*chrome*/
}
.novel-option--content {
	display: none;
	padding: .5em
}
.novel-option--content-inner {
	margin-bottom: 2em;
}
.novel-option--content.active {
	display: block;
}
.novel-option-header {
	font-weight: bold;
    font-size: 140%;
    margin: .3em;
}
.novel-option-subheader {
	font-weight: bold;
    margin: .3em;
}
.novel-option--textfield {
	padding: .3em;
    font-size: inherit;
    margin: .1em;
}

/* Skin */
#novel-option--skin-description,
#novel-option--font-family-description {
	margin-top: .5em;
	margin-left: .3em;
}
#novel-option--skin-description:before,
#novel-option--font-family-description:before {
	content: "選択中";
	font-weight: bold;
	margin-right: .5em;
}

/* Font Family */
#novel-option--font-family {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-bottom: 1em;
}
#novel-option--font-family-sample {
	padding: 5px 10px;
	border: 1px solid var(--narou-tweaker--color-ui-modal--box-border);
	background: var(--narou-tweaker--color-ui-modal--box-bg);
	margin: 5px 0;
	margin-bottom: 10px;
	line-height: 180%;
    font-size: 100%;
}
.novel-option--font-button {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.novel-option--font-button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border: 1px solid var(--narou-tweaker--color-ui-modal--button-border);
	background: var(--narou-tweaker--color-ui-modal--button-bg);
	color: var(--narou-tweaker--color-ui-modal--button-text);
	margin: .5em 1em;
	cursor: pointer;
}
.novel-option--font-button-box:hover {
	background: var(--narou-tweaker--color-ui-modal--button-bg-hover);
}
.novel-option--font-button-description {
	font-size: 90%;
}

/* Font Size / Line Height */
.novel-option--font-number-change-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--narou-tweaker--color-ui-modal--button-border);
	background: var(--narou-tweaker--color-ui-modal--button-bg);
	color: var(--narou-tweaker--color-ui-modal--button-text);
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.novel-option--font-number-change-button:hover{
	background: var(--narou-tweaker--color-ui-modal--button-bg-hover);
}
#novel-option--font-size,
#novel-option--line-height,
#novel-option--page-width,
#novel-option--vertical {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}
#novel-option--font-size-input,
#novel-option--line-height-input,
#novel-option--page-width-input {
	font-size: 110%;
	width: 50%;
	border: 1px solid var(--narou-tweaker--color-ui-modal--border);
	text-align: center;
	height: 30px;
	padding: 0;
}

/* Header */
.novel-option--content-inner#option-header {
	margin-bottom: 200px;
}

/* Correction */
#novel-option--correction-syntax,
#novel-option--correction-symbols {
	margin-bottom: 1em;
}
.novel-option--toggle {
	margin-bottom: .7em;
	text-wrap: nowrap;
}

/* Replace Patterns (Correction) */
#novel-option--correction-replace--patterns-outer {
	background: transparent;
    padding: .3em .3em;
	overflow-y: scroll;
	height: 10em;
	border: 1px solid var(--narou-tweaker--color-ui-modal--border);
}
#novel-option--correction-replace--patterns {
    -ms-overflow-style: none; /*edge*/
  	scrollbar-width: none; /*firefox*/
}
#novel-option--correction-replace--patterns::-webkit-scrollbar{
	display: none;
}
.novel-option--correction-replace--pattern-box,
#novel-option--correction-replace--pattern-box-addition {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 100%;
	padding: .5em;
	margin: .5em 0;
	border: 1px solid var(--narou-tweaker--color-ui-modal--border);
	background: var(--narou-tweaker--color-ui-modal--button-bg);
	border-radius: .5em;
}
#novel-option--correction-replace--pattern-box-addition {
	color: var(--narou-tweaker--color-ui-modal--text-sub);
	justify-content: center;
}
#novel-option--correction-replace--pattern-box-addition:hover {
	transition: background-color .3s ease;
	background: var(--narou-tweaker--color-ui-modal--button-bg-hover);
	cursor: pointer;
}

.novel-option--correction-replace--fields {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.novel-option--correction-replace--fields input {
	width: 45%;
	padding: .1em .3em;
}
.novel-option--correction-replace--fields span {
	font-size: 12px;
	margin: 0 .2em;
}
.novel-option--correction-replace--index {
	font-size: 12px;
	color: var(--narou-tweaker--color-ui-modal--text-sub);
	padding: .1em;
}
.novel-option--correction-replace--move-buttons {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.novel-option--correction-replace--move-buttons .novel-option--correction-replace--move-back {
	margin-top: -50%;
}
.novel-option--correction-replace--icons {
	transition: color .3s ease;
	color: var(--narou-tweaker--color-ui-modal--text-sub);
	font-size: 14px;
	margin: 0 .2em;
	cursor: pointer;
}
.novel-option--correction-replace--icons:hover {
	color: var(--narou-tweaker--color-ui-modal--text);
}
.novel-option--correction-replace--icons.enabled {
	color:var(--narou-tweaker--color-ui-modal--button-bg-accent);
}
.novel-option--correction-replace--icons.enabled:hover {
	color:var(--narou-tweaker--color-ui-modal--button-bg-accent-disabled);
}
.novel-option--correction-replace--active-button {
	margin-right: 0 .2em;
}
.novel-option--correction-replace--remove-button {
	margin-left: auto;
	margin-right: .2em;
}