/* Font Family */
@font-face {
	font-family: 'NTSymbol';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/NTSymbol.ttf") format("truetype");
    unicode-range: U+2014,U+2015,U+2026;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=BIZ+UDPMincho&family=DotGothic16&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Sawarabi+Mincho&display=swap');

/* Bizin Gothic */
@font-face {
	font-family: 'BizinGothicDiscord';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/BizinGothicDiscord.ttf") format("truetype");
}

/* 源暎（明朝） */
@font-face {
	font-family: '源暎こぶり明朝';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiKoburiMin6-R.ttf") format("truetype");
}
@font-face {
	font-family: '源暎ちくご明朝';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiChikugoMin3-R.ttf") format("truetype");
}

/* 源暎（ゴシック） */
@font-face {
	font-family: '源暎エムゴ';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiMGothic2-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiMGothic2-Medium.ttf") format("truetype");
    font-weight: 500; /* medium */
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiMGothic2-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiMGothic2-Heavy.ttf") format("truetype");
    font-weight: 900; /* heavy */
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/GenEiMGothic2-Black.ttf") format("truetype");
    font-weight: 950; /* extra black */
}

/* 新コミック体 */
@font-face {
	font-family: '新コミック体';
	src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/f910-shin-comic-2.04.otf") format("opentype");
}


/* Variables */
:root {
    --background-screen: #f1f3f5;
    --background-front: #fff;

    --kasasagi-blue: #2299ff;
}

/* button */
.ui-button--center {
	text-align: center;
    margin: 20px;
}
button.ui-button,
input[type="button"].ui-button,
input[type="reset"].ui-button, 
input[type="submit"].ui-button {
	cursor: pointer;
	-webkit-appearance: button;
}
.ui-button {
	color: #fff;
	font-size: 14px;
	line-height: 1.7;
	display: inline-block;
	width: auto;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 25px;
	outline: 0;
	background-color: #1b8ef3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: .7em 3em !important;
}
.ui-button:active, .ui-button:focus, .ui-button:hover {
	color: #fff;
	background-color: #339af4;
}

/* ui.js */
.ui-balloon--icon:hover{
    color: var(--kasasagi-blue);
}

.ui-balloon .ui-balloon--text.disabled {
    display: none;
}

.ui-balloon .ui-balloon--text{
    position: absolute;
    padding: 5px 10px ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    max-width: 200px;
    z-index: 9999;
  }
  
.ui-balloon .ui-balloon--text:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

/* dropdown */
/* select */
.dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
	margin-top: .1em;
	margin-bottom: .1em;
}

.dropdown::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.dropdown select {
    appearance: none;
    height: 2.5em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d0d0d0;
    border-radius: 25px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
	width: 100%;
}

/* Toggle */
input[type="checkbox"].toggle {
	display: none;
}

label.toggle {
	position: relative;
	padding-left: 60px;
	cursor: pointer;
	height: 30px;
}

label.toggle::before, label.toggle::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	border: 1.4px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	transition: .2s;
}

label.toggle::before {
	background-color: rgba(27, 142, 243, .1);
	border: 1.4px solid rgba(0, 0, 0, .3);
	border-radius: 12px;
	height: 20px;
	width: 40px;
	top: 50%;
	left: 5px;
}

label.toggle::after {
	background-color: #fff;
	border-radius: 50%;
	height: 23px;
	width: 23px;
	top: 50%;
	left: 0px;
}

input.toggle:checked+label.toggle::before {
	background-color: rgb(27, 142, 243);
}

input.toggle:checked+label.toggle::after {
	left: 26px;
}


/* checkbox */
input.ui-checkbox[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #606060;
    vertical-align: -5px;
    cursor: pointer;
    transition: border-color 0.1s linear;
    flex-shrink: 0; 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input.ui-checkbox[type="checkbox"]:checked {
    border-color: var(--kasasagi-blue);
    transition: border-color 0.1s linear;
}

input.ui-checkbox[type="checkbox"]:before {
    position: absolute;
    content: "";
    border-right: 2px solid var(--kasasagi-blue);
    border-bottom: 2px solid var(--kasasagi-blue);
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    transform: rotate(50deg);
    opacity: 0;
    transition: opacity 0.1s linear;
}

input.ui-checkbox[type="checkbox"]:checked:before {
    opacity: 1;
    transition: opacity 0.1s linear;
}
label.ui-checkbox {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}