/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=BIZ+UDPMincho&family=DotGothic16&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Sawarabi+Mincho&display=swap');



/* Font Family */
@font-face {
	font-family: 'NTSymbol';
	src: url("./assets/fonts/NTSymbol.ttf") format("truetype");
    unicode-range: U+2014,U+2015,U+2026;
}

/* Bizin Gothic */
@font-face {
	font-family: 'BizinGothicDiscord';
	src: url("./assets/fonts/BizinGothicDiscord.ttf") format("truetype");
}

/* 源暎（明朝） */
@font-face {
	font-family: '源暎こぶり明朝';
	src: url("./assets/fonts/GenEiKoburiMin6-R.ttf") format("truetype");
}
@font-face {
	font-family: '源暎ちくご明朝';
	src: url("./assets/fonts/GenEiChikugoMin3-R.ttf") format("truetype");
}

/* 源暎（ゴシック） */
@font-face {
	font-family: '源暎エムゴ';
	src: url("./assets/fonts/GenEiMGothic2-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("./assets/fonts/GenEiMGothic2-Medium.ttf") format("truetype");
    font-weight: 500; /* medium */
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("./assets/fonts/GenEiMGothic2-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("./assets/fonts/GenEiMGothic2-Heavy.ttf") format("truetype");
    font-weight: 900; /* heavy */
}
@font-face {
	font-family: '源暎エムゴ';
	src: url("./assets/fonts/GenEiMGothic2-Black.ttf") format("truetype");
    font-weight: 950; /* extra black */
}

/* 新コミック体 */
@font-face {
	font-family: '新コミック体';
	src: url("./assets/fonts/f910-shin-comic-2.04.otf") format("opentype");
}


/* Variables */
:root {
    --kasasagi-blue: #2299ff;
    --background-screen: #f1f3f5;
    --background-front: #fff;


	/* base coloe */
	--narou-tweaker--color-text1: #444;
	--narou-tweaker--color-text2: #999;
	--narou-tweaker--color-text3: #222;
	--narou-tweaker--color-text4: #fff;
	--narou-tweaker--color-link: #0033cc;
	--narou-tweaker--color-link-visited: #885577;
	--narou-tweaker--color-link-hover: #339933;
	--narou-tweaker--color-bg1: #fff;
	--narou-tweaker--color-bg2: #ddd;
	--narou-tweaker--color-bg3: #fafafa;
	--narou-tweaker--color-bg4: #efefef;
	--narou-tweaker--color-bg5: #eeee;
	--narou-tweaker--color-bg6: #333;
	--narou-tweaker--color-key1: #2299ff;
	--narou-tweaker--color-key2: #339af4;
	--narou-tweaker--color-key3: #003a85;
	--narou-tweaker--color-border1: #d0d0d0;

	--narou-tweaker--color-custom-text1: var(--narou-tweaker--color-text1);
	--narou-tweaker--color-custom-text2: var(--narou-tweaker--color-text2);
	--narou-tweaker--color-custom-text3: var(--narou-tweaker--color-text3);
	--narou-tweaker--color-custom-text4: var(--narou-tweaker--color-text4);
	--narou-tweaker--color-custom-text5: var(--narou-tweaker--color-text5);
	--narou-tweaker--color-custom-link: var(--narou-tweaker--color-link);
	--narou-tweaker--color-custom-link-visited: var(--narou-tweaker--color-link-visited);
	--narou-tweaker--color-custom-link-hover: var(--narou-tweaker--color-link-hover);
	--narou-tweaker--color-custom-bg1: var(--narou-tweaker--color-bg1);
	--narou-tweaker--color-custom-bg2: var(--narou-tweaker--color-bg2);
	--narou-tweaker--color-custom-bg3: var(--narou-tweaker--color-bg3);
	--narou-tweaker--color-custom-bg4: var(--narou-tweaker--color-bg4);
	--narou-tweaker--color-custom-bg5: var(--narou-tweaker--color-bg5);
	--narou-tweaker--color-custom-bg6: var(--narou-tweaker--color-bg6);
	--narou-tweaker--color-custom-key1: var(--narou-tweaker--color-key1);
	--narou-tweaker--color-custom-key2: var(--narou-tweaker--color-key2);
	--narou-tweaker--color-custom-key3: var(--narou-tweaker--color-key3);
	--narou-tweaker--color-custom-border1: var(--narou-tweaker--color-border1);


	/* ui */
	--narou-tweaker--color-ui-code--bg: #ddd;
	--narou-tweaker--color-ui-code--text: #666;

	/* baloon */
	--narou-tweaker--color-ui-baloon--hover: var(--narou-tweaker--color-custom-key1);
	--narou-tweaker--color-ui-baloon--text: var(--narou-tweaker--color-custom-text4);
	--narou-tweaker--color-ui-baloon--bg: var(--narou-tweaker--color-custom-bg6);
	
	/* button */
	--narou-tweaker--color-ui-button--text: var(--narou-tweaker--color-text4);
	--narou-tweaker--color-ui-button--bg: var(--narou-tweaker--color-key1);
	--narou-tweaker--color-ui-button--bg-hover: var(--narou-tweaker--color-key2);

	/* toggle */
	--narou-tweaker--color-ui-toggle--handle: var(--narou-tweaker--color-bg1);
	--narou-tweaker--color-ui-toggle--border: rgba(0, 0, 0, .3);
	--narou-tweaker--color-ui-toggle--active: var(--narou-tweaker--color-key1);
	--narou-tweaker--color-ui-toggle--inactive: rgba(27, 142, 243, .1);

	/* dropdown */
	--narou-tweaker--color-ui-dropdown--bg: var(--narou-tweaker--color-bg1);
	--narou-tweaker--color-ui-dropdown--text: var(--narou-tweaker--color-text1);
	--narou-tweaker--color-ui-dropdown--border: var(--narou-tweaker--color-border1);

	/* modal */
	--narou-tweaker--color-ui-modal--text: var(--narou-tweaker--color-custom-text1);
	--narou-tweaker--color-ui-modal--text-sub: var(--narou-tweaker--color-custom-text2);
	--narou-tweaker--color-ui-modal--bg: var(--narou-tweaker--color-custom-bg4);
	--narou-tweaker--color-ui-modal--bg-sub: var(--narou-tweaker--color-custom-bg2);
	--narou-tweaker--color-ui-modal--border: var(--narou-tweaker--color-custom-border1);
	--narou-tweaker--color-ui-modal--tab-selected: var(--narou-tweaker--color-ui-modal--text);
	--narou-tweaker--color-ui-modal--tab-hover: var(--narou-tweaker--color-custom-key1);
	--narou-tweaker--color-ui-modal--box-border: var(--narou-tweaker--color-ui-modal--border);
	--narou-tweaker--color-ui-modal--box-bg: var(--narou-tweaker--color-custom-bg3);
	--narou-tweaker--color-ui-modal--box-bg-sub: var(--narou-tweaker--color-custom-bg5);
	--narou-tweaker--color-ui-modal--box-text: var(--narou-tweaker--color-ui-modal--text);
	--narou-tweaker--color-ui-modal--button-border: var(--narou-tweaker--color-custom-border1);
	--narou-tweaker--color-ui-modal--button-text: var(--narou-tweaker--color-custom-text1);
	--narou-tweaker--color-ui-modal--button-text-hover: var(--narou-tweaker--color-custom-text2);
	--narou-tweaker--color-ui-modal--button-text-disabled: var(--narou-tweaker--color-custom-text5);
	--narou-tweaker--color-ui-modal--button-bg: var(--narou-tweaker--color-custom-bg1);
	--narou-tweaker--color-ui-modal--button-bg-hover: var(--narou-tweaker--color-custom-bg3);
	--narou-tweaker--color-ui-modal--button-bg-disabled: var(--narou-tweaker--color-custom-bg5);
	--narou-tweaker--color-ui-modal--button-bg-accent: var(--narou-tweaker--color-custom-key1);
	--narou-tweaker--color-ui-modal--button-bg-accent-disabled: var(--narou-tweaker--color-custom-key3);
	--narou-tweaker--color-ui-modal--button-bg-accent-hover: var(--narou-tweaker--color-custom-key2);
}

/* button */
.ui-button--center {
	text-align: center;
    margin: 20px;
}
button.ui-button,
input[type="button"].ui-button,
input[type="reset"].ui-button, 
input[type="submit"].ui-button {
	cursor: pointer;
	-webkit-appearance: button;
    appearance: button;
}
.ui-button {
	color: var(--narou-tweaker--color-ui-button--text);
	font-size: 14px;
	line-height: 1.7;
	display: inline-block;
	width: auto;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 25px;
	outline: 0;
	background-color: var(--narou-tweaker--color-ui-button--bg);
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
	padding: .7em 3em !important;
}
.ui-button:active, .ui-button:focus, .ui-button:hover {
	color: var(--narou-tweaker--color-ui-button--text);
	background-color: var(--narou-tweaker--color-ui-button--bg-hover);
}

/* ui.js */
.ui-balloon--icon:hover{
    color: var(--narou-tweaker--color-ui-baloon--hover);
}

.ui-balloon .ui-balloon--text.disabled {
    display: none;
}

.ui-balloon .ui-balloon--text{
    position: absolute;
    padding: 5px 10px ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: var(--narou-tweaker--color-ui-baloon--bg);
    color: var(--narou-tweaker--color-ui-baloon--text);
    font-size: 16px;
    font-weight: normal;
    max-width: 200px;
    z-index: 9999;
  }
  
.ui-balloon .ui-balloon--text:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: transparent;
    border-bottom-color: var(--narou-tweaker--color-ui-baloon--bg);
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

/* dropdown */
/* select */
.dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
	margin-top: .1em;
	margin-bottom: .1em;
}

.dropdown::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: var(--narou-tweaker--color-ui-dropdown--text);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.dropdown select {
    appearance: none;
    height: 2.5em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid var(--narou-tweaker--color-ui-dropdown--border);
    border-radius: 25px;
    background-color: var(--narou-tweaker--color-ui-dropdown--bg);
    color: var(--narou-tweaker--color-ui-dropdown--color);
    font-size: 1em;
    cursor: pointer;
	width: 100%;
}

/* Toggle */
input[type="checkbox"].toggle {
	display: none;
}

label.toggle {
	position: relative;
	padding-left: 60px;
	cursor: pointer;
	height: 30px;
}

label.toggle::before, label.toggle::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	border: 1.4px solid var(--narou-tweaker--color-ui-toggle--border);
	border-radius: 50%;
	transition: .2s;
}

label.toggle::before {
	background-color: var(--narou-tweaker--color-ui-toggle--inactive);
	border: 1.4px solid var(--narou-tweaker--color-ui-toggle--border);
	border-radius: 12px;
	height: 20px;
	width: 40px;
	top: 50%;
	left: 5px;
}

label.toggle::after {
	background-color: var(--narou-tweaker--color-ui-toggle--handle);
	border-radius: 50%;
	height: 23px;
	width: 23px;
	top: 50%;
	left: 0px;
}

input.toggle:checked+label.toggle::before {
	background-color: var(--narou-tweaker--color-ui-toggle--active);
}

input.toggle:checked+label.toggle::after {
	left: 26px;
}


/* checkbox */
input.ui-checkbox[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #606060;
    vertical-align: -5px;
    cursor: pointer;
    transition: border-color 0.1s linear;
    flex-shrink: 0; 
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input.ui-checkbox[type="checkbox"]:checked {
    border-color: var(--kasasagi-blue);
    transition: border-color 0.1s linear;
}

input.ui-checkbox[type="checkbox"]:before {
    position: absolute;
    content: "";
    border-right: 2px solid var(--kasasagi-blue);
    border-bottom: 2px solid var(--kasasagi-blue);
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    transform: rotate(50deg);
    opacity: 0;
    transition: opacity 0.1s linear;
}

input.ui-checkbox[type="checkbox"]:checked:before {
    opacity: 1;
    transition: opacity 0.1s linear;
}
label.ui-checkbox {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}